:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
}

html,
body {
  margin: 0;
  padding: 0;
}
.home-container {
  background-color: #e7d5d5;
}
.logo {
  font-family: cursive;
  font-size: 28px;
  margin: 10px;
}
input {
  padding: 10px;
  margin: 10px;
  border: 2px solid #eee;
  box-shadow: inset 1px 1px 20px 1px #f47b6e;
}
button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f47b6e;
  padding: 10px;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.button-hover:hover {
  background: #f47b6e87;
  border: none;
  letter-spacing: 2px;
  transition: all 0.4s ease 0s;
}
main.photos {
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
  width: 75%;
  margin: auto;
  margin-top: 40px !important;
  height: 100vh;
}

main.cart-page {
  padding: 10px;
}

.cart-page > h1 {
  text-align: center;
  color: #f47b6e;
}

.total-cost {
  text-align: right;
  font-size: 2em;
  font-weight: bolder;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.cart-item p {
  font-size: 1.8rem;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
  width: 250px;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.favorite {
  color: var(--red);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: 0.7;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.fav-page {
  font-size: 2.1em;
}

.ri-fw {
  position: absolute;
  right: 50px;
  top: 13px;
  font-size: 2.1rem;
}
.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.wide {
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink);
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--light-blue);
}
a:hover {
  color: var(--light-blue);
}
a:active {
  color: var(--light-blue);
}

.pagination-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: baseline;
  position: fixed;
  bottom: 0;
}

.pagination-container button {
  margin: 0 7px;
}

.current-page {
  background-color: #2e4d81;
}

.input-container {
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  header {
    height: 50px;
  }
  .logo {
    font-size: 1.6em;
  }
  .fav-page {
    font-size: 1.4em;
  }
  .ri-fw {
    font-size: 1.4em;
    right: 40px;
    top: 11px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  input {
    margin: 0px;
    text-align: center;
  }
  main.photos {
    width: 85%;
    grid-auto-rows: 70px;
    height: auto;
    margin-top: 20px !important;
  }
  .pagination-container button {
    padding: 7px;
    margin: 0 7px;
    height: 25px;
    display: flex;
    -webkit-text-stroke-width: thin;
  }
  .pagination-container {
    position: initial;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  .cart-page p {
    margin: 0 20px;
  }
  .cart-item img {
    width: 130px;
  }
  .cart-item p {
    font-size: 1.3rem;
  }
  .total-cost {
    font-size: 1.4rem;
    font-weight: bolder;
  }
}
